<form class="create-project">
    <input class="clear-input create-id" type="text" required name="project[comment]" data-char-limit="13" maxlength="13" value="" placeholder="What's your project?">
    <input class="btn btn-success" type="submit" name="submit" value="Submit">
</form>
