<form class="create">
    <input class="clear-input create-id" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[quantity]" value="" placeholder="Quantity">
    <input class="clear-input" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[name]" value="" placeholder="Name">
    <input class="btn btn-success" type="submit" name="submit" value="Submit">
</form>
