<form class="create-gear">
    <input class="clear-input create-id" type="text" required onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="my_gear[quantity]" value="" placeholder="Quantity">
    <input class="clear-input" type="text" required name="my_gear[name]" value="" placeholder="Name">
    <input class="btn btn-success" type="submit" name="submit" value="Submit">
</form>
