<form class="create-project">
    <input class="clear-input create-id" type="text" pattern=".{1,}" required title="1 characters minimum" name="project[comment]" value="" placeholder="What's your project?">
    <input class="btn btn-success" type="submit" name="submit" value="Submit">
</form>
