{{#if projects}}

  <h2>Weather</h2>

  <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
  </table>
  <div class="weather-box">
    <input type=text class="weather-input-search" placeholder="Search weather by city">
    <button class="btn btn-primary btn-md search-button">Search</button>
  </div>

  <br>

  <div class="weather-api-response">
  </div>

{{/if}}
