<h3>Add Gear</h3>
<form class="create">
    <input class="clear-input create-id" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[quantity]" value="" placeholder="Quantity">
    <input class="clear-input" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[name]" value="" placeholder="Name">
    <input type="submit" name="submit" value="Submit">
</form>

<h3>Update Gear</h3>
<form class="update">
    <input class="clear-input" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[id]" value="" placeholder="ID">
    <input class="clear-input" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[quantity]" value="" placeholder="Quantity">
    <input class="clear-input" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[name]" value="" placeholder="Name">
    <input type="submit" name="submit" value="Submit">
</form>

<h3>Delete Gear</h3>
<form class="delete">
    <input class="clear-input" type="text" pattern=".{1,}" required title="1 characters minimum" name="my_gear[id]" value="" placeholder="ID">
      <input type="submit" name="submit" value="Submit">
</form>

<h3>My Gear</h3>
{{#each my_gears as |gear|}}
<p>ID: {{gear.id}} | {{gear.quantity}} {{gear.name}}<p>
{{/each}}
