$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url( 'https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-image: url("https://raw.githubusercontent.com/doremaxime/gear-frontend/master/assets/styles/images/gear-pic.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.input-cart {
  min-height: 400px;
  border-top: 3px solid #2196F3;
  margin-top: 80px;
  margin-bottom: 100px;
}

.login {
  margin-top: 25px;
  border-right: 1px solid #ddd;
}

.policy {
  visibility: hidden;
}

.signupForm {
  display: none;
  margin-left: 30px;
  margin-right: -20px;
}

.signup {
  margin-top: 25px;
}

.signup-toggle {
  cursor: pointer;
  margin-top: 140px;
}

.login h4,
.signup h4 {
  font-weight: 200;
}

.legal {
  border-top: 1px solid #ddd;
}

.policy {
  font-size: 13px;
}

.main-title, .portfolio {
  font-family: 'Kaushan Script', cursive;
  color: #51AAAA;
}

.home-view {
  display: none;
  font-family: 'Muli', sans-serif;
}

.gear-table,
.project-table,
.weather-table {
  float: left;
  display: inline-block;
  background: rgba(25, 29, 33, 0.9);
  text-align: center;
  color: white;
  margin-left: 2.5%;
  padding: 2px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  overflow: auto;
}

.gear-table:empty {
  display: none;
}

.project-table:empty {
  display: none;
}

.weather-table:empty {
  display: none;
}

.weather-api-response {
  background: rgba(74, 128, 241, 0.4);
  border-radius: 5%;
  margin: 6%;
}

.primary-content,
.sidebar {
  float: none;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}

.nav {
  margin-bottom: 48px;
}

.nav ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #333;
}

.nav ul:after,
.nav ul:before {
  content: "";
  display: table;
}

.nav ul > li {
  float: right;
  position: relative;
}

.nav a {
  // display: block;
  padding: 10px 20px;
  line-height: 1.7em;
  color: #fff;
  border-left: 1px solid #595959;
  font-size: 1.7rem;
}

.nav a:hover {
  text-decoration: none;
  background: #595959;
}

.nav li ul {
  background: #273754;
  opacity: none;
}

.nav li ul li {
  width: 200px;
}

.nav li ul a {
  border: none;
}

.nav li ul a:hover {
  background: rgba(0, 0, 0, 0.19999999999999996);
}

.nav5 ul > li:hover ul {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.nav5 li ul {
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 1;
  max-height: 0;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.btn-success {
  margin: 0, auto;
  width: 100%;
}

.input-field-sign-up {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: -30px;
}

.input-field-sign-up-top {
  margin-top: 10px;
}

.input-field-sign-up-bottom {
  margin-bottom: 0;
}

.input-field {
  padding-left: 10%;
  padding-right: 10%;
}

.clear-input {
  border-radius: 0.5em;
  padding-left: 10%;
  padding-right: 10%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 20px;
}

input {
  text-align: center;
}

.modal-input {
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526 , #414345);
  background: linear-gradient(to left, #232526 , #414345);
}

.modal {
  background-color: rgba(255, 255, 255, 0);
}

.modal-title {
  color: #232526;
}

.modal-open {
  overflow: inherit;
}

tbody,
tr {
  font-size: 20px;
}
