$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$input-cart-border: #2196f3;
$login-border: #ddd;
$legal-border: #ddd;
$portfolio: #51aaaa;
$tables-background: rgba(25, 29, 33, .9);
$tables-color: #fff;
$weather-api-response-background: rgba(74, 128, 241, .4);
$nav-ul-background: #333;
$nav-a-background: #595959;
$nav-a-border: #595959;
$nav-a-color: #fff;
$nav-li-ul-background: #273754;
$nav-li-ul-a-background: rgba(0, 0, 0, .19999999999999996);
$modal-input-background: #232526;
$modal-background-color: rgba(255, 255, 255, 0);
$modal-title-color: #232526;

body {
  background-attachment: fixed;
  background-image: url('https://raw.githubusercontent.com/doremaxime/gear-frontend/master/assets/styles/images/gear-pic.jpg');
  background-position: center;
  background-size: cover;
}

.input-cart {
  border-top: 3px solid $input-cart-border;
  margin-bottom: 100px;
  margin-top: 80px;
  min-height: 400px;
}

.login {
  border-right: 1px solid $login-border;
  margin-top: 25px;
}

.policy {
  font-size: 13px;
  visibility: hidden;
}

.signup-form {
  display: none;
  margin-left: 30px;
  margin-right: -20px;
}

.signup {
  margin-top: 25px;
}

.signup-toggle {
  cursor: pointer;
  margin-top: 140px;
}

.login h4,
.signup h4 {
  font-size: 20px;
}

.legal {
  border-top: 1px solid $legal-border;
}

.main-title,
.portfolio {
  color: $portfolio;
  font-family: 'Kaushan Script', cursive;
}

.home-view {
  display: none;
  font-family: 'Muli', sans-serif;
}

.gear-table,
.project-table,
.weather-table {
  background: $tables-background;
  color: $tables-color;
  display: inline-block;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  margin-left: 2.5%;
  overflow: auto;
  padding: 2px;
  text-align: center;
}

.gear-table:empty {
  display: none;
}

.project-table:empty {
  display: none;
}

.weather-table:empty {
  display: none;
}

.weather-api-response {
  background: $weather-api-response-background;
  margin: 6%;
}

.primary-content,
.sidebar {
  float: none;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}

.nav {
  margin-bottom: 48px;
}

.nav ul {
  background: $nav-ul-background;
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}

.nav ul:after,
.nav ul:before {
  content: '';
  display: table;
}

.nav ul > li {
  float: right;
  position: relative;
}

.nav a {
  border-left: 1px solid $nav-a-border;
  color: $nav-a-color;
  font-size: 1.7rem;
  line-height: 1.7em;
  padding: 10px 20px;
}

.nav a:hover {
  background: $nav-a-background;
  text-decoration: none;
}

.nav li ul {
  background: $nav-li-ul-background;
  opacity: none;
}

.nav li ul li {
  width: 200px;
}

.nav li ul a {
  border: 0;
}

.nav li ul a:hover {
  background: $nav-li-ul-a-background;
}

.nav5 ul > li:hover ul {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.nav5 li ul {
  left: 0;
  max-height: 0;
  position: absolute;
  top: 64px;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  z-index: 1;
}

.btn-success {
  margin: 0, auto;
  width: 100%;
}

.input-field-sign-up {
  margin-bottom: -30px;
  padding-left: 20%;
  padding-right: 20%;
}

.input-field-sign-up-top {
  margin-top: 10px;
}

.input-field-sign-up-bottom {
  margin-bottom: 0;
}

.input-field {
  padding-left: 10%;
  padding-right: 10%;
}

.clear-input {
  border-radius: .5em;
  padding-left: 10%;
  padding-right: 10%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  font-size: 20px;
}

input {
  text-align: center;
}

.modal-input {
  background: $modal-input-background;
  background: -webkit-linear-gradient(to left, #232526 , #414345);
  background: linear-gradient(to left, #232526 , #414345);
}

.modal {
  background-color: $modal-background-color;
}

.modal-title {
  color: $modal-title-color;
}

.modal-open {
  overflow: inherit;
}

tbody,
tr {
  font-size: 20px;
}

@media (max-width: 500px) {
  .gear-table,
  .project-table,
  .weather-table {
    margin-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

  nav {
    height: 200px;
  }

  .nav a {
    border-left: 0;
  }

  .nav ul > li {
    float: float;
    margin: auto;
    text-align: center;
    width: 100%;
  }

  .nav5 li ul {
    top: 48px;
  }

  .blue {
    margin-left: 160px;
  }
}
